<div class="col-3">
    <div class="card-fluid shadow p-3">
        <img class="img-fluid" src="{{dataValues.Image}}" width="400px" height="250px" alt="">
        <h3 class="name">{{dataValues.Product_Name}}</h3>
        <hr />
        <ul>

            <li> <span class="font-weight-bold">Unit Price</span> ${{dataValues.UnitPrice}}</li>
            <hr>
            <li><span class="font-weight-bold">Units Available</span> {{dataValues.UnitsInStock}}</li>
            <hr>
            <li><span class="font-weight-bold">Renter</span> {{dataValues.Customer.dataValues.Name}}</li>
        </ul>
        <button data-id={{dataValues.ProductID}} data-price={{dataValues.UnitPrice}}
            data-user={{dataValues.Customer.dataValues.CustomerID}} data-stock={{dataValues.UnitsInStock}}
            data-order={{dataValues.UnitsOnOrder}} class="orderBtn btn btn-primary">ORDER</button>

    </div>
</div>